<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<!-- Navigation-->
{% include "parts/header.html" %} 
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Homepage</h1>
            <p class="lead fw-normal text-white-50 mb-0">See our products</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 w-50 m-auto">
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Signup</button>
            <a href='{% url "login" %}''>Already have account?</a>
        </form>
    </div>
</section>

<!-- {{ products }} -->

<!-- Footer-->
{% include "parts/footer.html" %}

</body>
</html>